# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# archivos locales
*.user

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# NuGet
*.nupkg

# Archivos temporales
*.tmp
*.temp

# Publicación
publish/

# Archivos generados
TestResults/

# Secretos locales
appsettings.Development.json
secrets.json