USE [master]
GO
/****** Objeto: Database [MesaDeAyuda] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
CREATE DATABASE [MesaDeAyuda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MesaDeAyuda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\MesaDeAyuda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MesaDeAyuda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\MesaDeAyuda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MesaDeAyuda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MesaDeAyuda]
GO
/****** Objeto: Table [dbo].[AsignacionesTicket] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionesTicket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[TecnicoAnteriorId] [int] NULL,
	[TecnicoNuevoId] [int] NULL,
	[UsuarioId] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[AuditoriaUsuarios] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaUsuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioAfectadoId] [int] NOT NULL,
	[UsuarioAccionId] [int] NOT NULL,
	[Accion] [nvarchar](50) NOT NULL,
	[Campo] [nvarchar](100) NULL,
	[ValorAnterior] [nvarchar](max) NULL,
	[ValorNuevo] [nvarchar](max) NULL,
	[Fecha] [datetime] NOT NULL,
	[Detalle] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Estados] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[EsFinal] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HistorialEstadoTicket] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEstadoTicket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[EstadoAnteriorId] [int] NOT NULL,
	[EstadoNuevoId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Prioridades] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prioridades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Nivel] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TicketAdjuntos] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketAdjuntos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[NombreArchivo] [varchar](255) NULL,
	[RutaArchivo] [varchar](500) NULL,
	[FechaSubida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TicketComentarios] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketComentarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Comentario] [nvarchar](500) NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tickets] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Titulo] [varchar](150) NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[TipoSolicitudId] [int] NOT NULL,
	[PrioridadId] [int] NOT NULL,
	[EstadoActualId] [int] NOT NULL,
	[UsuarioSolicitanteId] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[TecnicoAsignadoId] [int] NULL,
	[FechaAsignacion] [datetime] NULL,
	[FechaCierre] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TiposSolicitud] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposSolicitud](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Email] [varchar](150) NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FotoUrl] [varchar](255) NULL,
	[Activo] [bit] NOT NULL,
	[RolId] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AsignacionesTicket] ON 

INSERT [dbo].[AsignacionesTicket] ([Id], [TicketId], [TecnicoAnteriorId], [TecnicoNuevoId], [UsuarioId], [Fecha]) VALUES (1, 5, 2, 6, 4, CAST(N'2026-04-19T16:23:01.973' AS DateTime))
SET IDENTITY_INSERT [dbo].[AsignacionesTicket] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditoriaUsuarios] ON 

INSERT [dbo].[AuditoriaUsuarios] ([Id], [UsuarioAfectadoId], [UsuarioAccionId], [Accion], [Campo], [ValorAnterior], [ValorNuevo], [Fecha], [Detalle]) VALUES (1, 8, 4, N'Creación', NULL, NULL, NULL, CAST(N'2026-04-22T13:58:20.363' AS DateTime), N'Usuario creado: azuluaga')
INSERT [dbo].[AuditoriaUsuarios] ([Id], [UsuarioAfectadoId], [UsuarioAccionId], [Accion], [Campo], [ValorAnterior], [ValorNuevo], [Fecha], [Detalle]) VALUES (2, 8, 4, N'Actualización', NULL, NULL, NULL, CAST(N'2026-04-22T13:59:12.657' AS DateTime), N'Foto actualizada')
INSERT [dbo].[AuditoriaUsuarios] ([Id], [UsuarioAfectadoId], [UsuarioAccionId], [Accion], [Campo], [ValorAnterior], [ValorNuevo], [Fecha], [Detalle]) VALUES (3, 8, 8, N'Actualización', NULL, NULL, NULL, CAST(N'2026-04-22T14:02:17.020' AS DateTime), N'Foto actualizada')
SET IDENTITY_INSERT [dbo].[AuditoriaUsuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Estados] ON 

INSERT [dbo].[Estados] ([Id], [Nombre], [EsFinal], [Activo]) VALUES (1, N'Abierto', 0, 1)
INSERT [dbo].[Estados] ([Id], [Nombre], [EsFinal], [Activo]) VALUES (2, N'En Proceso', 0, 1)
INSERT [dbo].[Estados] ([Id], [Nombre], [EsFinal], [Activo]) VALUES (3, N'Cerrado', 1, 1)
SET IDENTITY_INSERT [dbo].[Estados] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialEstadoTicket] ON 

INSERT [dbo].[HistorialEstadoTicket] ([Id], [TicketId], [EstadoAnteriorId], [EstadoNuevoId], [UsuarioId], [Fecha]) VALUES (1, 5, 2, 3, 4, CAST(N'2026-04-19T16:34:52.803' AS DateTime))
INSERT [dbo].[HistorialEstadoTicket] ([Id], [TicketId], [EstadoAnteriorId], [EstadoNuevoId], [UsuarioId], [Fecha]) VALUES (2, 4, 3, 2, 2, CAST(N'2026-04-19T17:32:12.820' AS DateTime))
SET IDENTITY_INSERT [dbo].[HistorialEstadoTicket] OFF
GO
SET IDENTITY_INSERT [dbo].[Prioridades] ON 

INSERT [dbo].[Prioridades] ([Id], [Nombre], [Nivel], [Activo]) VALUES (1, N'Baja', 1, 1)
INSERT [dbo].[Prioridades] ([Id], [Nombre], [Nivel], [Activo]) VALUES (2, N'Media', 2, 1)
INSERT [dbo].[Prioridades] ([Id], [Nombre], [Nivel], [Activo]) VALUES (3, N'Alta', 3, 1)
SET IDENTITY_INSERT [dbo].[Prioridades] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Nombre], [Descripcion], [Activo], [FechaCreacion]) VALUES (1, N'Usuario', N'Usuario final', 1, CAST(N'2026-04-16T15:38:07.8466667' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Nombre], [Descripcion], [Activo], [FechaCreacion]) VALUES (2, N'TI', N'Personal de soporte TI', 1, CAST(N'2026-04-16T15:38:07.8466667' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Nombre], [Descripcion], [Activo], [FechaCreacion]) VALUES (3, N'Gerencia', N'Acceso a reportes', 1, CAST(N'2026-04-16T15:38:07.8466667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketAdjuntos] ON 

INSERT [dbo].[TicketAdjuntos] ([Id], [TicketId], [NombreArchivo], [RutaArchivo], [FechaSubida]) VALUES (1, 3, N'paredes_de_cafeteria_selva.jpg', N'/uploads/tickets/9c076361-c45b-4a26-abe2-4b741d13522e.jpg', CAST(N'2026-04-16T17:39:40.963' AS DateTime))
INSERT [dbo].[TicketAdjuntos] ([Id], [TicketId], [NombreArchivo], [RutaArchivo], [FechaSubida]) VALUES (2, 4, N'paredes_de_cafeteria_selva.jpg', N'/uploads/tickets/6e49af98-1249-4b87-b785-ec5b0cd0a58b.jpg', CAST(N'2026-04-16T17:41:17.747' AS DateTime))
INSERT [dbo].[TicketAdjuntos] ([Id], [TicketId], [NombreArchivo], [RutaArchivo], [FechaSubida]) VALUES (3, 5, N'paredes_de_cafeteria_selva.jpg', N'/uploads/tickets/7676f212-9780-4aba-bab0-a3a960caa2f8.jpg', CAST(N'2026-04-16T18:00:54.227' AS DateTime))
SET IDENTITY_INSERT [dbo].[TicketAdjuntos] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketComentarios] ON 

INSERT [dbo].[TicketComentarios] ([Id], [TicketId], [UsuarioId], [Comentario], [Fecha]) VALUES (1, 5, 4, N'    Se debe cambiar el toner', CAST(N'2026-04-18T13:52:24.373' AS DateTime))
INSERT [dbo].[TicketComentarios] ([Id], [TicketId], [UsuarioId], [Comentario], [Fecha]) VALUES (2, 5, 4, N'    Se debe cambiar el rodillo también. ', CAST(N'2026-04-18T14:46:35.630' AS DateTime))
INSERT [dbo].[TicketComentarios] ([Id], [TicketId], [UsuarioId], [Comentario], [Fecha]) VALUES (3, 5, 2, N'    Se debe cambiar el vidrio.', CAST(N'2026-04-18T14:58:08.663' AS DateTime))
SET IDENTITY_INSERT [dbo].[TicketComentarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Id], [Codigo], [Titulo], [Descripcion], [TipoSolicitudId], [PrioridadId], [EstadoActualId], [UsuarioSolicitanteId], [FechaCreacion], [TecnicoAsignadoId], [FechaAsignacion], [FechaCierre]) VALUES (1, N'TCK-0001', N'Problema con la impresora', N'Se daño, no sé', 3, 2, 1, 3, CAST(N'2026-04-16T17:26:20.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Tickets] ([Id], [Codigo], [Titulo], [Descripcion], [TipoSolicitudId], [PrioridadId], [EstadoActualId], [UsuarioSolicitanteId], [FechaCreacion], [TecnicoAsignadoId], [FechaAsignacion], [FechaCierre]) VALUES (2, N'TCK-0002', N'Problema con la impresora 2', N'valio chorizo', 3, 2, 1, 4, CAST(N'2026-04-16T17:36:55.353' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Tickets] ([Id], [Codigo], [Titulo], [Descripcion], [TipoSolicitudId], [PrioridadId], [EstadoActualId], [UsuarioSolicitanteId], [FechaCreacion], [TecnicoAsignadoId], [FechaAsignacion], [FechaCierre]) VALUES (3, N'TCK-0003', N'Problema con la impresora 3', N'aaaaa', 3, 3, 1, 4, CAST(N'2026-04-16T17:39:40.790' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposSolicitud] ON 

INSERT [dbo].[TiposSolicitud] ([Id], [Nombre], [Descripcion], [Activo]) VALUES (1, N'Soporte Técnico', N'Problemas generales de soporte', 1)
INSERT [dbo].[TiposSolicitud] ([Id], [Nombre], [Descripcion], [Activo]) VALUES (2, N'Software', N'Errores o instalación de software', 1)
INSERT [dbo].[TiposSolicitud] ([Id], [Nombre], [Descripcion], [Activo]) VALUES (3, N'Hardware', N'Problemas físicos de equipos', 1)
SET IDENTITY_INSERT [dbo].[TiposSolicitud] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Username], [Email], [PasswordHash], [FotoUrl], [Activo], [RolId], [FechaCreacion]) VALUES (1, N'Juan Pérez', N'jperez', N'jperez@empresa.com', N'AQAAAAIAAYagAAAAEOUSBk6fW5CdIv3US9DxE0cy8epZyZJXjtTiZgw9FdXgYiXcJgm5rhhwHztR8NFwTA==', N'/img/users/jperez.png', 1, 1, CAST(N'2026-04-16T15:45:52.2300000' AS DateTime2))
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Username], [Email], [PasswordHash], [FotoUrl], [Activo], [RolId], [FechaCreacion]) VALUES (2, N'Laura Gómez', N'lgomez', N'lgomez@empresa.com', N'AQAAAAIAAYagAAAAENKgJMw1bp7pW4AZDvwQ/sOZ8U9ufKh2P/VxfJ2bGiAHkdCczwwEMmkckZHB2ZajOA==', N'/img/users/lgomez.jpg', 1, 2, CAST(N'2026-04-16T15:45:52.2300000' AS DateTime2))
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Username], [Email], [PasswordHash], [FotoUrl], [Activo], [RolId], [FechaCreacion]) VALUES (3, N'Carlos Martínez', N'cmartinez', N'cmartinez@empresa.com', N'AQAAAAIAAYagAAAAEASPPaRB0/uPy/Lepra9LhRLi4qO0p7EYvQVWF9H2yNxxkf3efiSK2rHYCH/CjSp+g==', N'/img/users/cmartinez.jpg', 1, 3, CAST(N'2026-04-16T15:45:52.2300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Objeto: Index [IX_AsignacionesTicket_TicketId] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AsignacionesTicket_TicketId] ON [dbo].[AsignacionesTicket]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_HistorialEstadoTicket_TicketId] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HistorialEstadoTicket_TicketId] ON [dbo].[HistorialEstadoTicket]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Roles__75E3EFCF13B83A3C] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__536C85E47827A182] Fecha de script: 5/06/2026 1:35:26 p. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AsignacionesTicket] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[AuditoriaUsuarios] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[AuditoriaUsuarios] ADD  DEFAULT ('') FOR [Detalle]
GO
ALTER TABLE [dbo].[Estados] ADD  DEFAULT ((0)) FOR [EsFinal]
GO
ALTER TABLE [dbo].[Estados] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[HistorialEstadoTicket] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Prioridades] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[TicketAdjuntos] ADD  DEFAULT (getdate()) FOR [FechaSubida]
GO
ALTER TABLE [dbo].[TicketComentarios] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[TiposSolicitud] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[AsignacionesTicket]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionesTicket_TecnicoAnterior] FOREIGN KEY([TecnicoAnteriorId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[AsignacionesTicket] CHECK CONSTRAINT [FK_AsignacionesTicket_TecnicoAnterior]
GO
ALTER TABLE [dbo].[AsignacionesTicket]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionesTicket_TecnicoNuevo] FOREIGN KEY([TecnicoNuevoId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[AsignacionesTicket] CHECK CONSTRAINT [FK_AsignacionesTicket_TecnicoNuevo]
GO
ALTER TABLE [dbo].[AsignacionesTicket]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionesTicket_Ticket] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
GO
ALTER TABLE [dbo].[AsignacionesTicket] CHECK CONSTRAINT [FK_AsignacionesTicket_Ticket]
GO
ALTER TABLE [dbo].[AsignacionesTicket]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionesTicket_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[AsignacionesTicket] CHECK CONSTRAINT [FK_AsignacionesTicket_Usuario]
GO
ALTER TABLE [dbo].[AuditoriaUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_AuditoriaUsuarios_UsuarioAccion] FOREIGN KEY([UsuarioAccionId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[AuditoriaUsuarios] CHECK CONSTRAINT [FK_AuditoriaUsuarios_UsuarioAccion]
GO
ALTER TABLE [dbo].[AuditoriaUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_AuditoriaUsuarios_UsuarioAfectado] FOREIGN KEY([UsuarioAfectadoId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[AuditoriaUsuarios] CHECK CONSTRAINT [FK_AuditoriaUsuarios_UsuarioAfectado]
GO
ALTER TABLE [dbo].[HistorialEstadoTicket]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstadoTicket_EstadoAnterior] FOREIGN KEY([EstadoAnteriorId])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstadoTicket] CHECK CONSTRAINT [FK_HistorialEstadoTicket_EstadoAnterior]
GO
ALTER TABLE [dbo].[HistorialEstadoTicket]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstadoTicket_EstadoNuevo] FOREIGN KEY([EstadoNuevoId])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstadoTicket] CHECK CONSTRAINT [FK_HistorialEstadoTicket_EstadoNuevo]
GO
ALTER TABLE [dbo].[HistorialEstadoTicket]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstadoTicket_Ticket] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstadoTicket] CHECK CONSTRAINT [FK_HistorialEstadoTicket_Ticket]
GO
ALTER TABLE [dbo].[HistorialEstadoTicket]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstadoTicket_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstadoTicket] CHECK CONSTRAINT [FK_HistorialEstadoTicket_Usuario]
GO
ALTER TABLE [dbo].[TicketAdjuntos]  WITH CHECK ADD  CONSTRAINT [FK_Adjunto_Ticket] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
GO
ALTER TABLE [dbo].[TicketAdjuntos] CHECK CONSTRAINT [FK_Adjunto_Ticket]
GO
ALTER TABLE [dbo].[TicketComentarios]  WITH CHECK ADD FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
GO
ALTER TABLE [dbo].[TicketComentarios]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Estado] FOREIGN KEY([EstadoActualId])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Ticket_Estado]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Prioridad] FOREIGN KEY([PrioridadId])
REFERENCES [dbo].[Prioridades] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Ticket_Prioridad]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Tipo] FOREIGN KEY([TipoSolicitudId])
REFERENCES [dbo].[TiposSolicitud] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Ticket_Tipo]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Usuario] FOREIGN KEY([UsuarioSolicitanteId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Ticket_Usuario]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Tecnico] FOREIGN KEY([TecnicoAsignadoId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Tecnico]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
USE [master]
GO
